 .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper .form {
  width: 100%;
  padding: 0 6rem;
}

.wrapperboard{
  width: 100%;
  padding: 0 6rem;
  left:35%;
  position: relative;
}